affichage-node-red.json
[
    {
        "id": "9430e1768d7b09cf",
        "type": "tab",
        "label": "Projet IOT Température",
        "disabled": false,
        "info": "Interface de surveillance pour le projet ESP32/Raspberry Pi"
    },
    {
        "id": "fb644d4f3cc18d14",
        "type": "mqtt in",
        "z": "9430e1768d7b09cf",
        "name": "Réception ESP32",
        "topic": "test_topic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d927f185b91f4d9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "d06d500d418ab21e",
                "6f7b3e78c808e7df",
                "9ec22d47886431c1"
            ]
        ]
    },
    {
        "id": "d06d500d418ab21e",
        "type": "ui_gauge",
        "z": "9430e1768d7b09cf",
        "name": "Jauge Temps Réel",
        "group": "17be8fcecf3a4397",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température Actuelle",
        "label": "°C",
        "format": "{{value}}",
        "min": "22",
        "max": "32",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f7b3e78c808e7df",
        "type": "ui_chart",
        "z": "9430e1768d7b09cf",
        "name": "Graphique Historique",
        "group": "17be8fcecf3a4397",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Évolution de la Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "22",
        "ymax": "32",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9ec22d47886431c1",
        "type": "debug",
        "z": "9430e1768d7b09cf",
        "name": "Vérif Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "d927f185b91f4d9a",
        "type": "mqtt-broker",
        "name": "Mosquitto Raspberry",
        "broker": "192.168.1.125",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "17be8fcecf3a4397",
        "type": "ui_group",
        "name": "Mesures Capteur",
        "tab": "157792dfbfde3145",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "157792dfbfde3145",
        "type": "ui_tab",
        "name": "Surveillance Température",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ebceef821c116e72",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]